---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Hero } from "../components/react/Hero";
import About from "../components/react/About";
import Projects from "../components/react/Projects";
import DynamicStickyHeader from "../components/react/DynamicStickyHeader";

const sections = [
    { id: "about", title: "About" },
    { id: "projects", title: "Projects" },
    { id: "skills", title: "Skills" },
    { id: "contact", title: "Contact" },
];
---

<html>
    <BaseHead
        title="Amogh Shakya"
        description="Welcome to my web portfolio! It sucks!"
    />
    <body class="mocha relative antialiased">
        <Header />
        <main class="space-y-24">
            <Hero client:load />
            <About client:visible />
            <Projects client:visible />
            <section id="skills" class="h-screen"></section>
            <section id="contact" class="h-screen"></section>
        </main>

        <Footer />
    </body>
</html>
