---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Hero } from "../components/react/Hero";
import About from "../components/react/About";
import Projects from "../components/react/Projects";
import Skills from "../components/react/Skills";
import Contact from "../components/react/Contact";

const projects = [
    {
        title: "SikshaYatri",
        description:
            "Developed a demo e-learning platform web app using Next.js and PostgreSQL for my sophomore year Software Engineering coursework. Used Prisma ORM and Neon for database and next-auth for authentication.",

        href: "https://youtu.be/oz0KJD5Y2GQ",
        github: "https://github.com/amoghshakya/e-learning-platform",
        youtube: "https://youtu.be/oz0KJD5Y2GQ",
    },
    {
        title: "Book Recommendation System (BooksMandala dataset)",
        description:
            "Scraped BooksMandala's book catalog to create a dataset. Used Python, Pandas, and Scikit-learn to develop a book recommendation system based on book metadata like genres, subgenres, and synopsis. Used cosine similarity to get book recommendations.",
        href: "https://github.com/amoghshakya/booksmandala-data-analytics",
        github: "https://github.com/amoghshakya/booksmandala-data-analytics",
    },
];
---

<html>
    <BaseHead
        title="Amogh Shakya"
        description="Welcome to my web portfolio! It sucks!"
    />
    <body class="mocha antialiased">
        <Header />
        <main class="space-y-24">
            <Hero client:load />
            <About client:visible />
            <Projects client:visible projects={projects} />
            <Skills client:visible />
            <Contact client:visible />
        </main>

        <Footer />
    </body>
</html>
