---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Hero } from "../components/react/Hero";
import About from "../components/react/About";
import Projects from "../components/react/Projects";
import DynamicStickyHeader from "../components/react/DynamicStickyHeader";

const sections = [
    { id: "about", title: "About" },
    { id: "projects", title: "Projects" },
    { id: "skills", title: "Skills" },
    { id: "contact", title: "Contact" },
];

const projects = [
    {
        title: "SikshaYatri",
        description:
            "Developed a demo e-learning platform web app using Next.js and PostgreSQL for my sophomore year Software Engineering coursework. Used Prisma ORM and Neon for database and next-auth for authentication.",

        href: "https://youtu.be/oz0KJD5Y2GQ",
        github: "https://github.com/amoghshakya/e-learning-platform",
        youtube: "https://youtu.be/oz0KJD5Y2GQ",
    },
    {
        title: "Book Recommendation System (BooksMandala dataset)",
        description:
            "Scraped BooksMandala's book catalog to create a dataset. Used Python, Pandas, and Scikit-learn to develop a book recommendation system based on book metadata like genres, subgenres, and synopsis. Used cosine similarity to recommend books to users.",
        href: "https://github.com/amoghshakya/booksmandala-data-analytics",
        github: "https://github.com/amoghshakya/booksmandala-data-analytics",
    },
];
---

<html>
    <BaseHead
        title="Amogh Shakya"
        description="Welcome to my web portfolio! It sucks!"
    />
    <body class="mocha relative antialiased">
        <Header />
        <main class="space-y-24">
            <Hero client:load />
            <About client:visible />
            <Projects client:visible projects={projects} />
            <section id="skills" class="h-screen"></section>
            <section id="contact" class="h-screen"></section>
        </main>

        <Footer />
    </body>
</html>
